* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #385074;
    overflow-x: hidden;
  }
  
  header {
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
  }
  
  .title-logos {
    display: flex;
    align-items: space-between;
    padding: 30px;
    border-radius: 20px;
    background-color: #f5f5f5;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1),
                -8px -8px 16px rgba(255, 255, 255, 0.7);
    transition: box-shadow 0.5s ease-in-out;
    font-weight: lighter;
    font-size: small;
    animation: logoMovement 8s linear infinite;
  }
  
  @keyframes logoMovement {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  h1 {
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
  }
  
  .logos {
    display: flex;
    align-items: center;
  }
  
  img {
    width: auto;
    height: 80px;
  }
  
  .blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin-top: 20px;
    margin-left: 5%;
  }
  
  .block2,
  .block3,
  .block5 {
    width: 300px;
    height: auto;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.856);
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.01),
                -8px -8px 16px rgba(255, 255, 255, 0.12);
    transition: box-shadow 0.5s ease-in-out;
    font-weight: lighter;
    font-size: small;
  }
  
  footer {
    background-color: #385074;
    padding: 20px;
    text-align: center;
  }
  
  footer .containerr {
    color: #e6e6e6;
  }
  
  footer .containerr p {
    color: #e6e6e6;
    padding-top: 1%;
  }

  .copyright{
    color: #e6e6e6;
  }
  
  .button {
    margin-top: 20px;
    margin: 1%;
    padding: 10px 100px;
    border-radius: 10px;
    background: linear-gradient(135deg, #fcf2e3, #ffa54a);
    color:#385074;
    border: none;
    cursor: pointer;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1),
                -10px -10px 20px rgba(255, 255, 255, 0.5);
    font-weight: bold;
    font-size: large;
    transition: box-shadow 0.5s ease-in-out;
  }
  
  .button:hover {
    background: linear-gradient(135deg, #e6e6e6, #f5f5f5);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1),
                -4px -4px 8px rgba(255, 255, 255, 0.7);
    color: #385074;
    transition: box-shadow 0.5s ease-in-out;
  }
  .button-container{
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
  }

  
  /* Add the following style for the copyright text */
  footer .container .copyright {
    color: #fff; /* Set the color to white */
  }
  .return-button {   
    position: absolute;   
    top: 10px;   
    left: 10px;   
    display: inline-block;   
    padding: 10px 20px;   
    border: none;   
    background-color:#ffa54a;   
    color: white;   
    text-decoration: none; 
    border-radius: 50%;
    background: linear-gradient(135deg, #e6e6e6, #f5f5f5);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1),
                -4px -4px 8px rgba(255, 255, 255, 0.7);
    color: #385074;
    transition: box-shadow 0.5s ease-in-out;
    font-weight: 900;

}

.return-button:hover{
    background: linear-gradient(135deg, #fcf2e3, #ffa54a);
    color:#385074;
    border: none;
    cursor: pointer;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1),
                -10px -10px 20px rgba(255, 255, 255, 0.5);
    font-weight: bold;
    font-size: large;
    transition: box-shadow 0.5s ease-in-out;
}
  